<div class="logo">
  <a routerLink="/home" class="simple-text logo-mini">
    <div class="logo-img">
      <img src="/assets/img/jlevy-header-logo.png" />
    </div>
  </a>
</div>
<div class="sidebar-wrapper">
  <div *ngIf="isMobileMenu()">
    <!-- <form class="navbar-form">
      <span class="bmd-form-group"><div class="input-group no-border">
        <input type="text" value="" class="form-control" placeholder="Search...">
        <button mat-raised-button type="submit" class="btn btn-white btn-round btn-just-icon">
          <i class="material-icons">search</i>
          <div class="ripple-container"></div>
        </button>
      </div></span>
    </form> -->
  </div>
  <ul class="nav">
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/home" class="nav-link">
        <i class="fad fa-home fa-swap-opacity"></i>
        <p>Home</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/skills" class="nav-link">
        <i class="fad fa-brackets-curly"></i>
        <p>Skills</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/projects" class="nav-link">
        <i class="fad fa-code-branch"></i>
        <p>Projects</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/experience" class="nav-link">
        <i class="fad fa-laptop-code"></i>
        <p>Experience</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/resume" class="nav-link">
        <i class="fad fa-file-code"></i>
        <p>Resume</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a routerLink="/contact" class="nav-link">
        <i class="fad fa-address-book"></i>
        <p>Contact</p>
      </a>
    </li>
  </ul>
</div>
