<div class="main-content">
    <div class="container-fluid">
      <h2 class="page-heading">Skills</h2>
      <div class="row">
        <div class="col-md-4">
          <div class="card card-product">
            <div class="card-header card-header-image card-link" data-header-animation="true">
              <a href="#">
                <img class="img" src="./assets/img/card-2.jpg">
              </a>
            </div>
            <div class="card-footer">
              <h4>Front-End</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-product">
            <div class="card-header card-header-image card-link" data-header-animation="true">
              <a href="#">
                <img class="img" src="./assets/img/card-3.jpg">
              </a>
            </div>
            <div class="card-footer">
              <h4>Back-End</h4>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-product">
            <div class="card-header card-header-image card-link" data-header-animation="true">
              <a href="#">
                <img class="img" src="./assets/img/card-1.jpg">
              </a>
            </div>
            <div class="card-footer">
              <h4>DevOps</h4>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
