<div class="main-content">
  <div class="container-fluid">
    <h2 class="page-heading">About Me</h2>
    <div class="row">
      <div class="col-md-12 about-container">
        <div class="col-md-10 about-section">
          <div class="col-md-3">
            <div class="card-header card-image-free" data-header-animation="false">
              <img class="profile" src="./assets/img/JoshLevy.jpeg">
            </div>
            <div class="social-connect">
              <a href="https://github.com/JoshAaronLevy" target="_blank">
                <i class="fab fa-github"></i>
              </a>
              <a href="https://www.linkedin.com/in/joshaaronlevy/" target="_blank">
                <i class="fab fa-linkedin"></i>
              </a>
            </div>
          </div>
          <div class="col-md-9">
            <div class="card-header card-text-free" data-header-animation="false">
              <div class="text-card">
                <h5>I believe we're living in the most exciting time for technology. Many of the biggest challenges we face now are going to be solved by developers. I am a full stack web developer with over 6 years of experience.</h5>
                <h5>My experience includes responsive UI/UX design in HTML5, CSS3 and Bootstrap. I also have solid working experience with modern front-end frameworks such as Vue.js and Angular, and back-end/API tech, such as Node.js, Express, SQL and NoSQL databases. Furthermore, I have worked with dev ops technologies such as Firebase, Heroku, Docker and AWS. But I wouldn't be able to keep track of it all if it weren't for my strong working knowledge of Git.</h5>
                <h5>I take pride in combining my skills to develop apps with the highest standards of security, stability and scalability. But when I'm not geeking out over dev tech, you can catch me playing my guitars, or spending a day at my favorite place on earth - a tennis court.</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h2 class="page-heading">Skills</h2>
    <div class="row">
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header-3w card-header-image card-link" data-header-animation="true">
            <a href="#">
              <div class="card-image-container">
                <img class="logo-img" src="https://s3-us-west-2.amazonaws.com/joshlevyportfolio/skills/Angular-Logo.png">
              </div>
            </a>
          </div>
          <div class="card-footer card-summary-footer">
            <h3>View Front-End</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header-3w card-header-image card-link" data-header-animation="true">
            <a href="#">
              <div class="card-image-container">
                <img class="logo-img" src="https://s3-us-west-2.amazonaws.com/joshlevyportfolio/skills/NodeJS-Logo.png">
              </div>
            </a>
          </div>
          <div class="card-footer card-summary-footer">
            <h3>View Back-End/API</h3>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card card-product">
          <div class="card-header-3w card-header-image card-link" data-header-animation="true">
            <a href="#">
              <div class="card-image-container">
                <img class="logo-img" src="https://s3-us-west-2.amazonaws.com/joshlevyportfolio/skills/Git-Logo.png">
              </div>
            </a>
          </div>
          <div class="card-footer card-summary-footer">
            <h3>View Tools/Utilities</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
