<footer class="footer ">
  <div class="container-fluid">
    <nav class="pull-left">
      <ul>
        <li>
          <a href="https://www.angular-material.com">
            Angular Material
          </a>
        </li>
        <li>
          <a href="https://angular-material.com/about-us">
            About Us
          </a>
        </li>
        <li>
          <a href="http://blog.angular-material.com">
            Blog
          </a>
        </li>
        <li>
          <a href="https://www.angular-material.com/license">
            Licenses
          </a>
        </li>
      </ul>
    </nav>
    <div class="copyright pull-right">
      &copy;
      {{test | date: 'yyyy'}}, <a href="https://www.angular-material.com" target="_blank">Angular Material</a>.
    </div>
  </div>
</footer>
